body {
  font-family: Arial, sans-serif;
}

h3 {
  color: #343a40;
}

ul li {
  margin-bottom: 5px;
}

.jumbotron h1 {
  font-size: 2.5em;
}

@media print {
  button {
    display: none;
  }
}
